{% extends "base.html.twig" %}
{% block cssAdditional %}{% endblock %}
{% block jsAdditional %}{% endblock %}
{% block title %}Page d'accueil{% endblock %}
{% block body %}
    <div id="homePage"></div>
{% endblock %}