{% extends "base.html.twig" %}
{% block cssAdditional %}{% endblock %}
{% block jsAdditional %}{% endblock %}
{% block title %}Page d'accueil{% endblock %}
{% block body %}
    <div id="homePage">
        <h2>Bienvenu sur Age of Empire IV FR</h2>
        <p>Ici vous pourrez retrouver les trucs et astuces pour bien débuter sur Age of Empire IV, mais aussi évoluer à un niveau plus avancé.</p>
    </div>
{% endblock %}